[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.5"
django = "==3.0.4"
django-crispy-forms = "==1.9.0"
mysql-connector-python = "==8.0.20"
protobuf = "==3.11.3"
pymysql = "==0.9.3"
pytz = "==2019.3"
six = "==1.14.0"
sqlparse = "==0.3.1"
dj-database-url = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
